[Unit]
Description=Rust Web Application
After=network.target

[Service]
ExecStart=/usr/local/bin/rust-server
WorkingDirectory=/usr/local/bin
Restart=always

[Install]
WantedBy=multi-user.target
