.gitignore
srcs/requirements/tools/ca.crt
srcs/requirements/tools/ca.key
srcs/requirements/tools/ca.srl
srcs/requirements/tools/server.crt
srcs/requirements/tools/server.csr
srcs/requirements/tools/server.key
srcs/requirements/nginx/server.crt
srcs/requirements/nginx/server.key
