[Unit]
Description=Rust Web Application
After=network.target

[Service]
ExecStart=/usr/local/bin/rust-server
WorkingDirectory=/usr/local/bin
Restart=on-abort
User=rust-server
Group=rust-server

[Install]
WantedBy=multi-user.target
