[Unit]
Description=K6 Load Testing Service
After=network.target

[Service]
ExecStart=/usr/bin/k6 run /etc/k6/scripts/test.js
WorkingDirectory=/etc/k6/scripts
Restart=always
User=k6
Group=k6

[Install]
WantedBy=multi-user.target
