[Unit]
Description=Wordpress Init
After=network.target

[Service]
Type=oneshot
ExecStart=/root/start_wordpress.sh

[Install]
WantedBy=multi-user.target
