[Unit]
Description=Wordpress Init
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_wordpress.sh

[Install]
WantedBy=multi-user.target
