[req]
default_bits        = 2048
default_keyfile     = server.key
distinguished_name = req_distinguished_name
req_extensions      = req_ext
x509_extensions     = v3_ca
prompt = no

[req_distinguished_name]
C = JP
ST = Minato
L = Shinjuku
O = 42tokyo
OU = IT
CN = rikeda.42.fr

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = rikeda-cloud.com
DNS.2 = www.rikeda-cloud.com

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:TRUE
keyUsage = keyCertSign, cRLSign
